{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Covid - Stay Home Stay Safe</title>
  <link rel="stylesheet" href="{% static 'css/animation_page.css' %}">
  <style>
  a{
    text-decoration: none;
    color: green;
    font-size: 25px;
    font-weight: bold;
    margin-left: 1200px;
    margin-top: 90px;
  }

  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="main">
  <h2 class="title">Stay Home Stay Safe</h2>
  <a href="/home_page/">Home Page </a>
  <div class="home">
    <div class="tree">
      <div class="treeMain">
        <div class="branch"></div>
        <div class="branch"></div>
      </div>
      <div class="trunk"></div>
    </div>
    <div class="homeBody"> 
      <div class="wall"></div>
      <div class="chimney"></div>
      <div class="terrace"> </div>
      <div class="door"></div>
      <div class="window"></div>
    </div>
    <div class="ground"></div>
    <div class="covid">   </div>
    <div class="covid1"></div>
    <div class="covid2">   </div>
    <div class="covid3"></div>
  </div>
</div>
<!-- partial -->
</body>
</html>
