{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Home COVID-19</title>
  <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<style>
  a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    color: green;
  }
</style>

</head>
<body>
<body>
<div id="covid-container">
  <div class="hero">
    <div class="grid">
      <h1>
        COVID-19 Vaccine Center 
      </h1>
      <p class="p1">
        A selection of helpful information for small and mid-sized businesses
      </p>
      <a href="/search_page/">Covid Search ... </a>
    </div>
  </div>
  <div class="grid content">
    <div class="sub-nav">
      <a href="#featured">Featured Items</a>
      <a href="#funding">Top Questions About Covid</a>
      <a href="#tips">Tips, Tricks, and Tools</a>
      <a href="#resources">Contact Us</a>
    </div>
    <p class="p1">
      Launching CoWIN as an open source platform for countries to orchestrate successful vaccination with efficient monitoring with an aim of achieving universal vaccination
    </p>
    <div id="featured" class="article-list">
      <h3>
        Featured Items To prevent the spread of COVID-19:

      </h3>
      <ul>
        <li><a href="">Wear a mask when physical distancing is not possible.</a></li>
        <li><a href="">Clean your hands often. Use soap and water, or an alcohol-based hand rub./a></li>
        <li><a href="">Maintain a safe distance from anyone who is coughing or sneezing.</a></li>
        <li><a href="">Don’t touch your eyes, nose or mouth.</a></li>
      </ul>
    </div>
    <div id="funding" class="article-list">
      <h3>
        Top Questions :
      </h3>
      <ul>
        <li><a href="">Is online registration mandatory for Covid 19 vaccination?</a></li>
        <li><a href="">How many people can be registered in the CoWIN portal through one mobile number?</a></li>
        <li><a href="">Can I register for vaccination without Aadhaar card?</a></li>
        <li><a href="">Is there any registration charges to be paid?</a></li>
        <li><a href="">Can I check the vaccine being administered at each vaccination centre?</a></li>
        <li><a href="">Where will I receive confirmation of date and time of vaccination?</a></li>

      </ul>
    </div>
    <div id="tips" class="article-list">
      <h3>
        Tips, Tricks - Covid
      </h3>
      <ul>
        <li><a href=""> Drink lots of water and stay hydrated</a></li>
        <li><a href="">This is a great time to experiment with cooking, trying new recipes and experimenting with different food</a></li>
        <li><a href="">Try to eat regularly and eat as healthily as you can, and can afford to</a></li>
        <li><a href=""> Having a clean environment can help, keeping your house neat and tidy as well as frequently changing fresh bed-sheets could help you get a better sleep which is needed to stay healthy</a></li>
        <li><a href="">If it’s possible, find some space that is just for you: if you’re lucky, this could be a room. But it might be a corner, a desk or part of a table. You can ask the people you live with not to disturb you when you’re in this space</a></li>

      </ul>
    </div>
    <div id="resources" class="article-list">
      <h3>
        Contact Us Covid
      </h3>
      <ul>
        <li><a href="">Helpline  :  +91 11 23978046 (Toll Free- 1075)</a></li>
        <li><a href="">Technical Helpline :  0120 4473222</a></li>
        <li><a href="">Email Id :  support@cowin.gov.in</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
<!-- partial -->
  
</body>
</html>
